<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>Arduino Uno</title>
    <link rel="stylesheet" href="arduino-uno.css">
    <link rel="icon" href="#">
</head>
<body>
    <div class="navbar">
        <div class="left_bar">
            <img class="logo" src="C:\pavan drive 1\StartUp\Elegets\assets\images\logs\2.png" alt="no image">
            <h3 class="title">EleGets - Learn</h3>
        </div>
        <div class="right_bar">
            <a href="#home"class="a-element">home</a>
            <a href="#" class="a-element">about</a>
            <a href="#services" class="a-element">services</a>
            <a href="#contact" class="a-element">contact</a>
        </div>
    </div>
    <div class="home" id="home">
        <div class="home-left">
            <h1 class="home-h1">Arduino Uno R3</h1>
            <p class="home-p">The Arduino UNO R3 is frequently used microcontroller board in the family of an Arduino. This is the latest third version of an Arduino board and released in the year 2011. The main advantage of this board is if we make a mistake we can change the microcontroller on the board. The main features of this board mainly include, it is available in DIP (dual-inline-package), detachable and ATmega328 microcontroller. The programming of this board can easily be loaded by using an Arduino computer program. This board has huge support from the Arduino community, which will make a very simple way to start working in embedded electronics, and many more applications.</p>
        </div>
        <div class="home-right">
            <img class="img" src="C:\pavan drive 1\StartUp\Elegets\assets\images\micro controllers\arduino-uno.png" alt="logo-here">
        </div>
    </div>

    <div class="what">
        <h1 style="color: black;">What Is Arduino R3 ?</h1>
        <p class="whatp" style="color: black;">Arduino Uno R3 is one kind of ATmega328P based microcontroller board. It includes the whole thing required to hold up the microcontroller; just attach it to a PC with the help of a USB cable, and give the supply using AC-DC adapter or a battery to get started. The term Uno means “one” in the language of “Italian” and was selected for marking the release of Arduino’s IDE 1.0 software. The R3 Arduino Uno is the 3rd as well as most recent modification of the Arduino Uno. Arduino board and IDE software are the reference versions of Arduino and currently progressed to new releases. The Uno-board is the primary in a sequence of USB-Arduino boards, & the reference model designed for the Arduino platform .</p>
        <div class="whatig">
            <img src="C:\pavan drive 1\StartUp\Elegets\assets\images\micro controllers\Arduino-Uno-R3.jpg" alt="Error" class="whatimg">
        </div>
    </div>
    <div class="sep">
        <h1 style="color: black;">Arduino Uno R3 Specifications</h1>
        <p class="sepp">The Arduino Uno R3 board includes the following specifications.</p>
        <ul>
            <li>It is an ATmega328P based Microcontroller</li>
            <li>The Operating Voltage of the Arduino is 5V</li>
            <li>The recommended input voltage ranges from 7V to 12V</li>
            <li>The i/p voltage (limit) is 6V to 20V</li>
            <li>Digital input and output pins-14</li>
            <li>Digital input & output pins (PWM)-6</li>
            <li>Analog i/p pins are 6</li>
            <li>DC Current for each I/O Pin is 20 mA</li>
            <li>DC Current used for 3.3V Pin is 50 mA</li>
            <li>Flash Memory -32 KB, and 0.5 KB memory is used by the boot loader</li>
            <li>SRAM is 2 KB</li>
            <li>EEPROM is 1 KB</li>
            <li>The speed of the CLK is 16 MHz</li>
            <li>In Built LED</li>
            <li>Length and width of the Arduino are 68.6 mm X 53.4 mm</li>
            <li>The weight of the Arduino board is 25 g</li>
        </ul>
    </div>

    <div class="what">
        <h1 style="color: black;">Arduino Uno R3 Pin Diagram</h1>
        <p class="whatp" style="color: black;">The Arduino Uno R3 pin diagram is shown below. It comprises 14-digit I/O pins. From these pins, 6-pins can be utilized like PWM outputs. This board includes 14 digital input/output pins, Analog inputs-6, a USB connection, quartz crystal-16 MHz, a power jack, a USB connection, resonator-16Mhz, a power jack, an ICSP header an RST button.</p>
        <div class="whatig">
            <img src="C:\pavan drive 1\StartUp\Elegets\assets\images\micro controllers\Arduino-Uno-Pin-Diagram.jpg" alt="Error" class="whatimg">
        </div>
    </div>

    <div class="services" id="services">
        <h1 class="sub-h1"> Download files </h1>
        <div class="ser-sub-cont">
            <div class="ser-card">
                <h1 class="ser-h1">Arduino Pin Out Diagram Download</h1>
                <p class="ser-p">You Can Learn All About Arduino Uno R3 Pins Click DownLoad below</p>
                <a href="C:\pavan drive 1\StartUp\Elegets\assets\pdf files\arduino uno files\arduino pinout.pdf" download="elegets-pinout-pdf.pdf" target="_blank" class="styled-button" > Download Now</a>
            </div>
            <div class="ser-card">
                <h1 class="ser-h1">Arduino Uno R3 DataSheet</h1>
                <p class="ser-p">You Can Find All Details about Arduino Uno R3 Click DownLoad below</p>
                <a href="C:\pavan drive 1\StartUp\Elegets\assets\pdf files\arduino uno files\arduino datasheet.pdf" download="elegets-pinout-pdf.pdf" target="_blank" class="styled-button" > Download Now</a>
            </div>
            <div class="ser-card">
                <h1 class="ser-h1">Arduino Uno R3 Schematics</h1>
                <p class="ser-p">You Can Downloaad the arduino arduino Schematic below</p>
                <a href="C:\pavan drive 1\StartUp\Elegets\assets\pdf files\arduino uno files\arduino shecmitec.pdf" download="elegets-pinout-pdf.pdf" target="_blank" class="styled-button" > Download Now</a>
            </div>
        </div>
    </div>















    <footer>
        <div class="footer">
            <div class="footer-text">
                <p>&copy; 2023 Reserved <a href="https://bit.ly/elegetslearn" target="_blank">EleGets - Learn</a></p>
                <p>Contact: <a href="mailto:contact.elegets@gmail.com">contact.elegets@gmail.com</a></p>
            </div>
        </div>
    </footer>
    <!-- <script>
     /*   // Function to check if the viewport width is below a certain threshold
        function isMobileView() {
            return window.innerWidth <= 768; // You can adjust the threshold as needed
        }
    
        // Function to display an alert if desktop mode is off
        function checkDesktopMode() {
            if (isMobileView()) {
                alert("Please enable desktop mode for the best experience.");
            }
        }
    
        // Call the checkDesktopMode function when the page loads
        window.addEventListener('load', checkDesktopMode);*/
    </script> -->
</body>
</html>